.container {
  background: #282c38;
  width: 100%;
  display: flex;
}

@media screen and (max-width: 720px) {
  .container {
      flex-direction: column;
  }
}

.focusBackground {
  background: #5dcb9a;
}

.darkBackground {
  background: #282c38;
}

.lightBackground {
  background: #363d51;
}
