.key, .pressedKey {
  padding: 0;
  color: #eee;
  border: none;
  border-radius: 4px;
  width: calc(25% - 0.5rem);
  margin: 0.25rem;
  font-size: 3rem;
  text-transform: uppercase;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  will-change: transform;
  transition: background 250ms, transform 250ms;
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
.key {
  composes: lightBackground from "./common.css";
}
.keys {
  padding: 1rem;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
}
.key:focus, .pressedKey:focus {
  outline: none;
}
.pressedKey {
  transform: scale(0.95);
  composes: focusBackground from "./common.css";
}
