.dropdown {
  position: relative;
  color: #eee;
  font-size: 2.5rem;
  border-radius: 0.5rem;
  composes: lightBackground from "./common.css";
}
.selected {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  transition: background-color 250ms;
}
.items {
  list-style: none;
  position: absolute;
  padding: 1rem;
  width: 100%;
  composes: lightBackground from "./common.css";
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.item {
  margin: 1rem 0 1rem 0;
}
.item:hover {
  background-color: var(--focus-background);
}
